@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 18px; */
}

/* Colour Scheme */
:root {
  --cyan: #29C7C7;
  --dark-violet: #3B3054;
  --red: #F46262;
  --gray: #BFBFBF;
  --gray-violet: #9E9AA7;
  --dark-blue: #35323E;
  --very-dark-violet: #232127;
  --red-color-70: #e5b4b2;
  --red-color-80: #ecc7c5;
}


/* Header */
.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.navbar {
  display:flex;
  justify-content: space-between;
  width:100%;
}

.navbar button {
  border: none;
  background: none;
  margin-left: 20px;
  font-weight: 700;
  color: var(--gray-violet)
}

.navbar button:hover {
  color: black;
}

#sign-up-button {
  background-color: var(--cyan);
  border-radius: 24px;
  padding: 8px 20px ;
  color: white;
}

#sign-up-button:hover {
  opacity: 50%;
}

/* Body */
.body {
  padding-left: 80px;
  margin-bottom: 20px;
}

.body-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.body-header .heading {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.body-header p {
  color: var(--gray-violet);
  font-size: 18px;
  width: 70%;
}

.body-header button {
  background-color: var(--cyan);
  border-radius: 24px;
  padding: 10px 30px ;
  color: white;
  border: none;
  font-weight: 700;
  margin-top: 20px;
  font-size: 16px;
}

.body-header button:hover {
  opacity:50%
}

.cropped {
  width: 600px; /* width of container */
  overflow: hidden;
}

.working-image {
  max-height: 400px;
  object-fit: cover;
  object-position: -80% ;
}


/* Shortener */


.purple-box {
  background-color: var(--dark-violet);
  padding: 50px;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 80px;

}

.purple-box input {
  border-radius: 8px;
  padding: 0 24px;
  height: 50px;
  font-size: 18px;
  border: none;
}

.purple-box button {
  background-color: var(--cyan);
  border: none;
  height: 50px;
  border-radius: 10px;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 0 30px;
}